#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
p{
    color:crimson;
}
.environment_li {
    margin-top:13px;
}
.environment_li h4{
    border-bottom:1px solid white ;
    padding:8px ;
}
.environment_li{
    border-radius:25px;
}
.environment_li p {
    margin-top:10px;
}
.movie_head i{
    float:right;
}
.movie_head {
    font-size:20px;
    padding:6px 22px ;
    border-radius:10px;
    margin-bottom:15px;
    width:100%;
    display:inline-block;
}
.movie_text span{
    color:orange; 
}
.travel_maindiv img{
    width:100%;
}